<div class="sign-in">

    <div class="wrapper" style="background-color: #03a9f46e;">
  
      <div class="sign-in-page">
  
        <div class="signin-popup">
  
          <div class="signin-pop">
  
            <div class="row">
  
              <div class="col-lg-6">
  
                <div class="cmp-info">
  
                  <div class="cm-logo">
  
                    <img src="../../assets/UserManagement/images/Radix_logo-2500X450.jpg" alt="">
  
                    <p>Workwise, is a global freelancing platform and social networking where businesses and independent
                      professionals connect and collaborate remotely</p>
  
                  </div>
  
                  <img src="../../assets/UserManagement/images/16-reasons-why-social-media-is-important-to-your-company-616d3200e6dc6-sej.png" alt="">
  
                </div>
  
              </div>
  
              <div class="col-lg-6">
  
                <div class="login-sec">
  
                  <ul class="sign-control">
  
                    <li data-tab="tab-1"><a routerLink="SignIn" routerLinkActive="active-link" title="">Sign in</a></li>
  
                    <li data-tab="tab-2"><a routerLink="SignUp" routerLinkActive="active-link"  title="">Sign up</a></li>
  
                  </ul>
  
                <!-- <router-outlet></router-outlet> -->
  
                 
  
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
  
        <div class="footy-sec">
  
          <div class="container">
  
            <ul>
  
              <li><a href="help-center.html" title="">Help Center</a></li>
  
              <li><a href="about.html" title="">About</a></li>
  
              <li><a href="#" title="">Privacy Policy</a></li>
  
              <li><a href="#" title="">Community Guidelines</a></li>
  
              <li><a href="#" title="">Cookies Policy</a></li>
  
              <li><a href="#" title="">Career</a></li>
  
              <li><a href="forum.html" title="">Forum</a></li>
  
              <li><a href="#" title="">Language</a></li>
  
              <li><a href="#" title="">Copyright Policy</a></li>
  
            </ul>
  
            <p><img src="https://gambolthemes.net/workwise-new/images/copy-icon.png" alt="">Copyright 2019</p>
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  
  
  </div>

